*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  min-height: 100vh;
}
.header {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header b{
  font-size: 14px;
  color: green;
  padding: 10px;
}
.header h1 {
  letter-spacing: 1px;
}
