*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  min-height: 100vh;
}
.header {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header b{
  font-size: 14px;
  color: green;
  padding: 10px;
}
.header h1 {
  letter-spacing: 1px;
}
.game{
    display: flex;
    justify-content: space-evenly;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.player h3 {
  letter-spacing: 1px;
  font-size: 17px;
}
.player button {
  background-color: green;
  color: white;
  outline: none;
  width: 85px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.dice {
  color: green;
  /* font-size: 40px; */
}
.dice img {
  width: 130px;
}
